<!DOCTYPE html>
<html>
<head>
  <title>OTP Verification</title>
</head>
<body>
  <h1>OTP Verification</h1>
  <p>Your OTP code is {{ otp }}.</p>
  <p>This OTP is valid for 1 minute.</p>
</body>
</html>
